@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body{
  overflow: hidden;
  font-family: 'Roboto Slab', serif;
}

.wrapper {
  height: 100vh;
   /* margin: 0 auto; */
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   /* gap: 5em; */
  }

  footer {
    padding:1em 0 ;
   clear: both;
   text-align: center;
  
  }

  header {
   /*background-color: gainsboro; /* change this to your color choice */
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 5em;
  }

  header h1 {
   font-size: 200%; /* or whatever size you prefer */
   text-align: center;
  }

  header h1 a {
   text-decoration: none;
   color: rgba(36, 35, 51, 1);
   ;
  }

  nav {
    display: flex;
    align-items: center;
  }

  nav ul {
   margin: 0; /* you don’t need this is you’re using a reset style sheet */
   padding: 1em 0; /* you don’t need this is you’re using a reset style sheet */
   list-style-type: none;
   display: flex;
   align-items: center;
  }

  nav a {
   padding: 1em 2em;
   display: block;
   color:  rgba(36, 35, 51, 1);
  text-decoration: none;
   font-size: 1.25em;
  }
  
  nav a:hover {
   background-color: ghostwhite; /* change this to your color choice */
   border-radius: 2em; /* optional */
  }

  .home-grid {
   display: grid;
   grid-template-columns: 1fr 1fr;
   /* gap: 2em; */
   /* align-items: center; */
   /* justify-content: space-between; */
  
 }
main section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 .profile-picture img {
   width: 500px;
   /* height: auto; */
   border-radius: 0 0 0 138px;
   box-shadow: 30px -30px 20px rgba(66, 119, 255, 0.2);
   
 }

/* .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.about div {
  width: 80%;
  display: flex;
flex-direction: column;
color: #2700C2;
gap: 0.5em;
}

 .about h1 {
    font-size: 400%;
    
    font-family: sans-serif;
   
 }

 .about h2 {
    font-size: 400%;
    font-family: sans-serif;
 }

 .about h3 {
  font-size: 100%;
  font-family: sans-serif;
  font-weight: normal;
}

.about span {
  color: orange;
}

.about p {
  text-align: justify;
}

.about .button-container {
display: flex;
flex-direction: row;
gap: 1.5em;
}

.button-container button{
  padding: 0.8em 1.6em;
  border-radius: 8px;
  color:#2700C2;
  border:1px solid #2700C2;
font-size: 1.1em;
cursor: pointer;
background-color: white;
transition: color 0.3s, background-color 0.3s, transform  0.3s, box-shadow 0.3s;

}

.button-container button a{
  text-decoration: none;
  color: #2700C2;
}


.button-container button:nth-child(1):hover{
  box-shadow: 0px 2px 20px 0px rgba(52, 4, 245, 0.29);
  transform: scale(1.08) perspective(1px);
}
.button-container button:nth-child(2):hover{
  box-shadow: 0px 2px 20px 0px rgba(52, 4, 245, 0.29);
  transform: scale(1.08) perspective(1px);
  
  
}




.button-container button:nth-child(1){
  background-color: #2700C2;
color: white;
box-shadow: 0px 2px 39px 0px rgba(52, 4, 245, 0.29);

}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5em;
  width:99%;
}

.portfolio{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1em;
}

.portfolio h1{
  font-size: 300%;
  color: #2700C2;
}

.gallery img{
  width:100%;

}

.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects .youtube {
  flex-direction: inherit;
  gap: 1em;
align-items: flex-start;
padding: 2em 5em;
background-color: #2700c2cc;
color: white;
}

.projects .youtube h1{
  font-size: 150%;
}

.projects .videos {
  margin: 1em 0em;
  flex-direction: inherit;
  /* border: 1px solid #2700C2; */
  width: 100%;
  justify-content: space-around;
  /* gap: 1em; */
  
}

.projects .videos .btn {
  margin-top: 1.5em;
}


.projects .videos .btn button{
  display: flex;
  align-items: center;
  padding: 0.8em 1.6em;
  border-radius: 8px;
  color:red;
  border:1px solid red;
font-size: 1.1em;
cursor: pointer;
background-color: white;
transition: color 0.3s, background-color 0.3s, transform  0.3s, box-shadow 0.3s;
  gap: 1em;
  font-size: 120%;

}

.projects .videos .btn button:hover {
  box-shadow: 0px 2px 10px 0px red;
  transform: scale(1.08) perspective(1px);
}

.projects .videos .row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* gap: 2em; */
  padding: 1em 0;
  width: 100%;

}
.projects .videos .row div {
  /* border: 1px solid #2700C2; */
  /* padding: .5em; */
}

.projects .videos .row div iframe{
 width: 360px;
 height: 210px;
 border-radius: 10px;
}

.projects .videos .row:nth-child(even) {
  background-color: orange;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 5em;
  padding: 5em 0em;
  background-color: #2700c2cc;
  color: white;
  height: 80%;
}

.contacts h1 {
  color: orange;
  font-size: 400%;
  text-transform: capitalize;
}


.contacts .phone-email {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: 200%;
  align-items: center;
}

.contacts .phone-email a{
  text-decoration: none;
  color: white;
}

.contacts .social-media {
  display: flex;
  width: 28em;
  justify-content: space-between;
  align-items: center;
}

.contacts .social-media i{
  font-size: 3em;
  cursor: pointer;
}

.contacts .social-media i:hover {
  transform: scale(1.2) perspective(1px);
  color: orange;
}

/* Hamburger Menu */

#hamburger{
  display: none;
}

#hamburger .rod{
  transition: transform 0.3s;
}

#hamburger-menu{
  padding: 10em 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  box-shadow: -3px 0 10px black;
  background-color: rgba(255, 255, 255, 0.95);
  transition: 0.3s;
}

#hamburger-menu a{
  color: #2700C2;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
}



@media (max-width: 480px) {

  header {
    padding: 0 1.5em;
  }
  
  header h1{
    font-size: 120%;
  }

  nav a{
    padding: 1em 0.7em;
    font-size: 0.7em;
  }

  .home-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap:1em;
  }
  
  .profile-picture img {
    width: 90%;
  }

  .about div {
  width: 85%;
  gap: 1em;
  }

  .about h1 {
    font-size: 250%;
  }
  .about h2 {
    font-size: 250%;
  }


  .button-container button {
    padding: 0.4em 0.8em;
  }

  .projects .youtube {
    padding: 1.5em 1.5em ;
  }

  .projects .videos .row{
    flex-direction: column;
    }

  .projects .videos .row div{
    display: flex;
    justify-content: center;
    padding: 1em 0;
  }

  .portfolio h1 {
    font-size: 200%;
  }



  .projects .videos .row:nth-child(even) div:nth-child(odd) {
    width: 100%;  
    background-color: orange;
  }
  .projects .videos .row:nth-child(even) div:nth-child(even) {
    width: 100%;   background-color: white; 
  }

  .projects .videos .row:nth-child(odd) div:nth-child(even) {
    width: 100%;    background-color: orange;
  }

  .projects .videos .row:nth-child(odd) div:nth-child(odd) {
    width: 100%;    background-color: white;
  }

  .contacts .social-media {
    width: 22em;
  }

  .contacts{
    height: 70%;
  }
  .gallery {
    grid-template-columns: 1fr;
    gap: 0;
  }

  nav{
    padding: 1em 0;
  }

  nav ul{
    font-size: 150%;
  }

  nav ul:nth-child(1){
      display: none;
  }

  #hamburger{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2em;
    height: 1.4em;
    z-index: 100;
  }

  #hamburger .rod{
    width: 100%;
    height: 4px;
    background-color: #2700C2;
    border-radius: 5px;
    transition: transform 0.3s, opacity 0.3s;
  }

  #hamburger.active .rod:nth-child(1){
  transform: rotate(-45deg) translate(-6px, 7px);
  }

  #hamburger.active .rod:nth-child(2){
    opacity: 0;
  }


  #hamburger.active .rod:nth-child(3){
    transform: rotate(45deg) translate(-6px, -7px);
  }

  #hamburger-menu.active{
    right: 0;
  }

  .about h1{
    /* font-size: 120%; */
  }
}



.contacts .social-media a{
  color: white;
}




